* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: lightsteelblue;
}

// Common
main {
    padding: 10px;
}

header {
    padding: 10px 30px;
    ul {
        display: flex;
        li {
            margin: 20px;
            a {
                font-size: 20px;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

h1 {
    text-align: center;
}

div{
    margin: 10px 0;
}

form {
    border: 1px solid black;
}

// Homepage
.intro-text {
    h1,h2 {
    margin-bottom: 20px;
    text-align: center;
    }
}

.home-bg {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

// Create page 
.validation-error {
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    background-color: indianred;
    border: 2px solid darkred;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    li {
        margin-bottom: 4px;
        list-style-type: none;
    }
}

.description-form {
    textarea {
        padding: 8px;
    }
}

.delete-form {
    form {
        cursor: pointer;
        width: 20px;
        margin: 0;
        padding: 0;
        border: 0;
        // Delete button details
        input {
            font-size: 18px;
            cursor: pointer;
            background-color: indianred;
            color: white;
            padding: 5px 10px;
            border-radius: 10px;
            border: 1px solid white;
        }
    }
    
}
