* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: lightsteelblue;
}

main {
    padding: 10px;
}

header {
    padding: 10px 30px;
    ul {
        display: flex;
        li {
            margin: 20px;
            a {
                font-size: 20px;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

h1 {
    text-align: center;
}

.intro-text {
    h1,h2 {
    margin-bottom: 20px;
    text-align: center;
    }
}

div{
    margin: 10px 0;
}
