* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: lightsteelblue;
}

// Common
main {
    padding: 10px;
}

header {
    padding: 10px 30px;
    ul {
        display: flex;
        li {
            margin: 20px;
            a {
                font-size: 20px;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

h1 {
    text-align: center;
}

div{
    margin: 10px 0;
}

form {
    border: 1px solid black;
}

// Homepage
.intro-text {
    h1,h2 {
    margin-bottom: 20px;
    text-align: center;
    }
}

// Create page 
.validation-error {
    margin-left: 30px;
    font-size: 20px;
    text-decoration: underline;
}

.description-form {
    textarea {
        padding: 8px;
    }
}

.delete-form {
    form {
        cursor: pointer;
        width: 20px;
        margin: 0;
        padding: 0;
        border: 0;
    }
}
